/data/*/
/ex_data/
/tests/test_models/model.pt
/environments
/gym_pros
/gym_pros/envs
/gym_pros/envs_data
/desktop.ini
/output

.pytest_cache
*.pt
neptune_config.py

.idea
/scripts/*.log
/scripts/*.bak
/scripts/*.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
