/data/*/
/ex_data/
/tests/models/model.pt
/environments
/gym_pros
/gym_pros/envs
/gym_pros/envs_data
/desktop.ini

*/.pytest_cache

.idea
/scripts/*.log
/scripts/*.bak
/scripts/*.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/gym_pros/
